.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;

}

.popup__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.opacity {
    opacity: 0.2;
}


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*overflow: hidden;*/
    font-family: Helvetica, Arial, sans-serif;
}

.popups-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    perspective: 1000px;
    pointer-events: none;
    transition: z-index 0s 0.8s;
}

.popups-cont.s--popup-active {
    z-index: 1000;
    pointer-events: auto;
    transition: z-index 0s 0s;
}

.popups-cont__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.35s;
}

.popups-cont.s--popup-active .popups-cont__overlay {
    opacity: 1;
    transition: opacity 0.35s 0.35s;
}

.popup {
    z-index: 2;
    position: relative;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
}

.popup .popup__piece:nth-child(1) {
    height: 13.6666666667%;
    width: 21.6666666667%;
}

.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-51vw, -12vh, 213px) rotateX(149deg) rotateY(129deg);
    clip-path: polygon(0 0, 0 100%, 34% 100%);
}

.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-4vw, -15vh, 429px) rotateX(329deg) rotateY(129deg);
    clip-path: polygon(0 0, 34% 100%, 100% 0);
}

.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
    transform: translate3d(16vw, -54vh, 530px) rotateX(206deg) rotateY(441deg);
    clip-path: polygon(100% 0, 100% 100%, 34% 100%);
}

.popup.s--closed .popup__piece:nth-child(1) {
    transform: translate3d(0, 103vh, 0);
}

.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-58vw, 0, 0) rotateX(461deg) rotateY(458deg);
}

.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-63vw, 0, 0) rotateX(200deg) rotateY(435deg);
}

.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
    transform: translate3d(22vw, 0, 0) rotateX(452deg) rotateY(317deg);
}

.popup .popup__piece:nth-child(2) {
    height: 13.6666666667%;
    width: 19.6666666667%;
}

.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-59vw, -7vh, 143px) rotateX(276deg) rotateY(211deg);
    clip-path: polygon(0 0, 0 100%, 38% 100%);
}

.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-46vw, -3vh, 828px) rotateX(290deg) rotateY(127deg);
    clip-path: polygon(0 0, 38% 100%, 100% 0);
}

.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
    transform: translate3d(35vw, -53vh, -765px) rotateX(470deg) rotateY(478deg);
    clip-path: polygon(100% 0, 100% 100%, 38% 100%);
}

.popup.s--closed .popup__piece:nth-child(2) {
    transform: translate3d(0, 103vh, 0);
}

.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-7vw, 0, 0) rotateX(301deg) rotateY(311deg);
}

.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-12vw, 0, 0) rotateX(211deg) rotateY(398deg);
}

.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-78vw, 0, 0) rotateX(359deg) rotateY(270deg);
}

.popup .popup__piece:nth-child(3) {
    height: 13.6666666667%;
    width: 14.6666666667%;
}

.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
    transform: translate3d(40vw, 50vh, 445px) rotateX(255deg) rotateY(436deg);
    clip-path: polygon(0 0, 0 100%, 66% 100%);
}

.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
    transform: translate3d(29vw, 17vh, 746px) rotateX(352deg) rotateY(214deg);
    clip-path: polygon(0 0, 66% 100%, 100% 0);
}

.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
    transform: translate3d(19vw, 56vh, 158px) rotateX(342deg) rotateY(357deg);
    clip-path: polygon(100% 0, 100% 100%, 66% 100%);
}

.popup.s--closed .popup__piece:nth-child(3) {
    transform: translate3d(0, 115vh, 0);
}

.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
    transform: translate3d(39vw, 0, 0) rotateX(251deg) rotateY(281deg);
}

.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
    transform: translate3d(46vw, 0, 0) rotateX(261deg) rotateY(454deg);
}

.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-47vw, 0, 0) rotateX(335deg) rotateY(134deg);
}

.popup .popup__piece:nth-child(4) {
    height: 13.6666666667%;
    width: 14.6666666667%;
}

.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-14vw, 17vh, 259px) rotateX(180deg) rotateY(125deg);
    clip-path: polygon(0 0, 0 100%, 64% 100%);
}

.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
    transform: translate3d(21vw, -47vh, 349px) rotateX(434deg) rotateY(341deg);
    clip-path: polygon(0 0, 64% 100%, 100% 0);
}

.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
    transform: translate3d(10vw, -42vh, 204px) rotateX(311deg) rotateY(315deg);
    clip-path: polygon(100% 0, 100% 100%, 64% 100%);
}

.popup.s--closed .popup__piece:nth-child(4) {
    transform: translate3d(0, 121vh, 0);
}

.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
    transform: translate3d(9vw, 0, 0) rotateX(354deg) rotateY(307deg);
}

.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-64vw, 0, 0) rotateX(299deg) rotateY(442deg);
}

.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
    transform: translate3d(42vw, 0, 0) rotateX(254deg) rotateY(236deg);
}

.popup .popup__piece:nth-child(5) {
    height: 13.6666666667%;
    width: 15.6666666667%;
}

.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-59vw, -45vh, -361px) rotateX(311deg) rotateY(143deg);
    clip-path: polygon(0 0, 0 100%, 47% 100%);
}

.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-36vw, -21vh, -505px) rotateX(414deg) rotateY(160deg);
    clip-path: polygon(0 0, 47% 100%, 100% 0);
}

.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
    transform: translate3d(40vw, 8vh, 67px) rotateX(406deg) rotateY(257deg);
    clip-path: polygon(100% 0, 100% 100%, 47% 100%);
}

.popup.s--closed .popup__piece:nth-child(5) {
    transform: translate3d(0, 150vh, 0);
}

.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
    transform: translate3d(39vw, 0, 0) rotateX(478deg) rotateY(122deg);
}

.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
    transform: translate3d(26vw, 0, 0) rotateX(322deg) rotateY(402deg);
}

.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-45vw, 0, 0) rotateX(195deg) rotateY(467deg);
}

.popup .popup__piece:nth-child(6) {
    height: 13.6666666667%;
    width: 13.6666666667%;
}

.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
    transform: translate3d(53vw, -46vh, -262px) rotateX(437deg) rotateY(176deg);
    clip-path: polygon(0 0, 0 100%, 37% 100%);
}

.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-22vw, -14vh, -33px) rotateX(305deg) rotateY(246deg);
    clip-path: polygon(0 0, 37% 100%, 100% 0);
}

.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-31vw, -18vh, -573px) rotateX(377deg) rotateY(357deg);
    clip-path: polygon(100% 0, 100% 100%, 37% 100%);
}

.popup.s--closed .popup__piece:nth-child(6) {
    transform: translate3d(0, 134vh, 0);
}

.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
    transform: translate3d(17vw, 0, 0) rotateX(241deg) rotateY(170deg);
}

.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
    transform: translate3d(61vw, 0, 0) rotateX(296deg) rotateY(367deg);
}

.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
    transform: translate3d(26vw, 0, 0) rotateX(207deg) rotateY(420deg);
}

.popup .popup__piece:nth-child(7) {
    height: 12.6666666667%;
    width: 12.6666666667%;
}

.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-30vw, -45vh, -836px) rotateX(411deg) rotateY(459deg);
    clip-path: polygon(0 0, 0 100%, 59% 100%);
}

.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
    transform: translate3d(1vw, 49vh, -726px) rotateX(355deg) rotateY(418deg);
    clip-path: polygon(0 0, 59% 100%, 100% 0);
}

.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-15vw, 9vh, -436px) rotateX(469deg) rotateY(166deg);
    clip-path: polygon(100% 0, 100% 100%, 59% 100%);
}

.popup.s--closed .popup__piece:nth-child(7) {
    transform: translate3d(0, 145vh, 0);
}

.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-53vw, 0, 0) rotateX(270deg) rotateY(420deg);
}

.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-9vw, 0, 0) rotateX(183deg) rotateY(469deg);
}

.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-55vw, 0, 0) rotateX(310deg) rotateY(170deg);
}

.popup .popup__piece:nth-child(8) {
    height: 12.6666666667%;
    width: 20.6666666667%;
}

.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-29vw, -18vh, 734px) rotateX(474deg) rotateY(393deg);
    clip-path: polygon(0 0, 0 100%, 42% 100%);
}

.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
    transform: translate3d(1vw, 7vh, -111px) rotateX(315deg) rotateY(157deg);
    clip-path: polygon(0 0, 42% 100%, 100% 0);
}

.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-3vw, 50vh, 817px) rotateX(289deg) rotateY(364deg);
    clip-path: polygon(100% 0, 100% 100%, 42% 100%);
}

.popup.s--closed .popup__piece:nth-child(8) {
    transform: translate3d(0, 103vh, 0);
}

.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-72vw, 0, 0) rotateX(430deg) rotateY(333deg);
}

.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
    transform: translate3d(17vw, 0, 0) rotateX(134deg) rotateY(261deg);
}

.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
    transform: translate3d(10vw, 0, 0) rotateX(426deg) rotateY(400deg);
}

.popup .popup__piece:nth-child(9) {
    height: 12.6666666667%;
    width: 12.6666666667%;
}

.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-38vw, 15vh, 430px) rotateX(327deg) rotateY(435deg);
    clip-path: polygon(0 0, 0 100%, 49% 100%);
}

.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
    transform: translate3d(2vw, -16vh, 269px) rotateX(169deg) rotateY(270deg);
    clip-path: polygon(0 0, 49% 100%, 100% 0);
}

.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
    transform: translate3d(19vw, 23vh, 470px) rotateX(279deg) rotateY(182deg);
    clip-path: polygon(100% 0, 100% 100%, 49% 100%);
}

.popup.s--closed .popup__piece:nth-child(9) {
    transform: translate3d(0, 126vh, 0);
}

.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-59vw, 0, 0) rotateX(155deg) rotateY(477deg);
}

.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
    transform: translate3d(54vw, 0, 0) rotateX(427deg) rotateY(320deg);
}

.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
    transform: translate3d(56vw, 0, 0) rotateX(141deg) rotateY(329deg);
}

.popup .popup__piece:nth-child(10) {
    height: 12.6666666667%;
    width: 18.6666666667%;
}

.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-52vw, -24vh, 577px) rotateX(242deg) rotateY(213deg);
    clip-path: polygon(0 0, 0 100%, 31% 100%);
}

.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
    transform: translate3d(5vw, -20vh, 121px) rotateX(224deg) rotateY(454deg);
    clip-path: polygon(0 0, 31% 100%, 100% 0);
}

.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
    transform: translate3d(56vw, 42vh, 389px) rotateX(404deg) rotateY(201deg);
    clip-path: polygon(100% 0, 100% 100%, 31% 100%);
}

.popup.s--closed .popup__piece:nth-child(10) {
    transform: translate3d(0, 111vh, 0);
}

.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-39vw, 0, 0) rotateX(343deg) rotateY(352deg);
}

.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-29vw, 0, 0) rotateX(132deg) rotateY(465deg);
}

.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
    transform: translate3d(16vw, 0, 0) rotateX(131deg) rotateY(174deg);
}

.popup .popup__piece:nth-child(11) {
    height: 12.6666666667%;
    width: 18.6666666667%;
}

.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-5vw, 32vh, 635px) rotateX(206deg) rotateY(439deg);
    clip-path: polygon(0 0, 0 100%, 44% 100%);
}

.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
    transform: translate3d(27vw, 30vh, -330px) rotateX(362deg) rotateY(284deg);
    clip-path: polygon(0 0, 44% 100%, 100% 0);
}

.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-1vw, -11vh, -431px) rotateX(361deg) rotateY(417deg);
    clip-path: polygon(100% 0, 100% 100%, 44% 100%);
}

.popup.s--closed .popup__piece:nth-child(11) {
    transform: translate3d(0, 120vh, 0);
}

.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
    transform: translate3d(17vw, 0, 0) rotateX(339deg) rotateY(184deg);
}

.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-14vw, 0, 0) rotateX(262deg) rotateY(352deg);
}

.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-56vw, 0, 0) rotateX(364deg) rotateY(161deg);
}

.popup .popup__piece:nth-child(12) {
    height: 12.6666666667%;
    width: 16.6666666667%;
}

.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
    transform: translate3d(29vw, 31vh, 202px) rotateX(195deg) rotateY(474deg);
    clip-path: polygon(0 0, 0 100%, 65% 100%);
}

.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
    transform: translate3d(49vw, -37vh, 832px) rotateX(422deg) rotateY(235deg);
    clip-path: polygon(0 0, 65% 100%, 100% 0);
}

.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-24vw, 55vh, 332px) rotateX(255deg) rotateY(465deg);
    clip-path: polygon(100% 0, 100% 100%, 65% 100%);
}

.popup.s--closed .popup__piece:nth-child(12) {
    transform: translate3d(0, 125vh, 0);
}

.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
    transform: translate3d(31vw, 0, 0) rotateX(450deg) rotateY(249deg);
}

.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-11vw, 0, 0) rotateX(133deg) rotateY(399deg);
}

.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
    transform: translate3d(8vw, 0, 0) rotateX(453deg) rotateY(375deg);
}

.popup .popup__piece:nth-child(13) {
    height: 12.6666666667%;
    width: 18.6666666667%;
}

.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-5vw, 39vh, -597px) rotateX(400deg) rotateY(129deg);
    clip-path: polygon(0 0, 0 100%, 41% 100%);
}

.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
    transform: translate3d(22vw, 21vh, 628px) rotateX(224deg) rotateY(466deg);
    clip-path: polygon(0 0, 41% 100%, 100% 0);
}

.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
    transform: translate3d(32vw, 29vh, 385px) rotateX(132deg) rotateY(431deg);
    clip-path: polygon(100% 0, 100% 100%, 41% 100%);
}

.popup.s--closed .popup__piece:nth-child(13) {
    transform: translate3d(0, 119vh, 0);
}

.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-50vw, 0, 0) rotateX(473deg) rotateY(325deg);
}

.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
    transform: translate3d(53vw, 0, 0) rotateX(211deg) rotateY(284deg);
}

.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-37vw, 0, 0) rotateX(213deg) rotateY(176deg);
}

.popup .popup__piece:nth-child(14) {
    height: 12.6666666667%;
    width: 20.6666666667%;
}

.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
    transform: translate3d(59vw, -37vh, -218px) rotateX(238deg) rotateY(263deg);
    clip-path: polygon(0 0, 0 100%, 47% 100%);
}

.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-12vw, -12vh, -855px) rotateX(184deg) rotateY(173deg);
    clip-path: polygon(0 0, 47% 100%, 100% 0);
}

.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-2vw, 48vh, 211px) rotateX(297deg) rotateY(170deg);
    clip-path: polygon(100% 0, 100% 100%, 47% 100%);
}

.popup.s--closed .popup__piece:nth-child(14) {
    transform: translate3d(0, 120vh, 0);
}

.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
    transform: translate3d(22vw, 0, 0) rotateX(210deg) rotateY(384deg);
}

.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-52vw, 0, 0) rotateX(299deg) rotateY(201deg);
}

.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-10vw, 0, 0) rotateX(240deg) rotateY(347deg);
}

.popup .popup__piece:nth-child(15) {
    height: 12.6666666667%;
    width: 21.6666666667%;
}

.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
    transform: translate3d(8vw, 53vh, -24px) rotateX(315deg) rotateY(422deg);
    clip-path: polygon(0 0, 0 100%, 41% 100%);
}

.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
    transform: translate3d(34vw, -44vh, 772px) rotateX(374deg) rotateY(306deg);
    clip-path: polygon(0 0, 41% 100%, 100% 0);
}

.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
    transform: translate3d(22vw, -13vh, -39px) rotateX(237deg) rotateY(433deg);
    clip-path: polygon(100% 0, 100% 100%, 41% 100%);
}

.popup.s--closed .popup__piece:nth-child(15) {
    transform: translate3d(0, 130vh, 0);
}

.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-33vw, 0, 0) rotateX(354deg) rotateY(329deg);
}

.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
    transform: translate3d(13vw, 0, 0) rotateX(389deg) rotateY(215deg);
}

.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
    transform: translate3d(33vw, 0, 0) rotateX(467deg) rotateY(307deg);
}

.popup .popup__piece:nth-child(16) {
    height: 12.6666666667%;
    width: 20.6666666667%;
}

.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-1vw, 48vh, 422px) rotateX(174deg) rotateY(294deg);
    clip-path: polygon(0 0, 0 100%, 57% 100%);
}

.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-19vw, 14vh, 209px) rotateX(125deg) rotateY(471deg);
    clip-path: polygon(0 0, 57% 100%, 100% 0);
}

.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
    transform: translate3d(44vw, 28vh, 222px) rotateX(459deg) rotateY(416deg);
    clip-path: polygon(100% 0, 100% 100%, 57% 100%);
}

.popup.s--closed .popup__piece:nth-child(16) {
    transform: translate3d(0, 149vh, 0);
}

.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
    transform: translate3d(44vw, 0, 0) rotateX(319deg) rotateY(303deg);
}

.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
    transform: translate3d(3vw, 0, 0) rotateX(363deg) rotateY(129deg);
}

.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
    transform: translate3d(28vw, 0, 0) rotateX(264deg) rotateY(189deg);
}

.popup .popup__piece:nth-child(17) {
    height: 12.6666666667%;
    width: 2.6666666667%;
}

.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
    transform: translate3d(4vw, -51vh, -635px) rotateX(357deg) rotateY(255deg);
    clip-path: polygon(0 0, 0 100%, 62% 100%);
}

.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-12vw, 47vh, 91px) rotateX(146deg) rotateY(203deg);
    clip-path: polygon(0 0, 62% 100%, 100% 0);
}

.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-51vw, 42vh, 123px) rotateX(165deg) rotateY(430deg);
    clip-path: polygon(100% 0, 100% 100%, 62% 100%);
}

.popup.s--closed .popup__piece:nth-child(17) {
    transform: translate3d(0, 131vh, 0);
}

.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
    transform: translate3d(38vw, 0, 0) rotateX(366deg) rotateY(172deg);
}

.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-4vw, 0, 0) rotateX(189deg) rotateY(357deg);
}

.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
    transform: translate3d(67vw, 0, 0) rotateX(441deg) rotateY(235deg);
}

.popup .popup__piece:nth-child(18) {
    height: 12.6666666667%;
    width: 15.6666666667%;
}

.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
    transform: translate3d(33vw, 50vh, -559px) rotateX(453deg) rotateY(388deg);
    clip-path: polygon(0 0, 0 100%, 31% 100%);
}

.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
    transform: translate3d(13vw, 21vh, -632px) rotateX(367deg) rotateY(351deg);
    clip-path: polygon(0 0, 31% 100%, 100% 0);
}

.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
    transform: translate3d(9vw, 5vh, 329px) rotateX(302deg) rotateY(422deg);
    clip-path: polygon(100% 0, 100% 100%, 31% 100%);
}

.popup.s--closed .popup__piece:nth-child(18) {
    transform: translate3d(0, 114vh, 0);
}

.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
    transform: translate3d(12vw, 0, 0) rotateX(479deg) rotateY(279deg);
}

.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-17vw, 0, 0) rotateX(135deg) rotateY(213deg);
}

.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-17vw, 0, 0) rotateX(414deg) rotateY(269deg);
}

.popup .popup__piece:nth-child(19) {
    height: 18.6666666667%;
    width: 14.6666666667%;
}

.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
    transform: translate3d(12vw, -51vh, -478px) rotateX(284deg) rotateY(380deg);
    clip-path: polygon(0 0, 0 100%, 41% 100%);
}

.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-26vw, -11vh, -816px) rotateX(325deg) rotateY(257deg);
    clip-path: polygon(0 0, 41% 100%, 100% 0);
}

.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
    transform: translate3d(12vw, -4vh, 531px) rotateX(393deg) rotateY(232deg);
    clip-path: polygon(100% 0, 100% 100%, 41% 100%);
}

.popup.s--closed .popup__piece:nth-child(19) {
    transform: translate3d(0, 140vh, 0);
}

.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-49vw, 0, 0) rotateX(437deg) rotateY(155deg);
}

.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-17vw, 0, 0) rotateX(150deg) rotateY(364deg);
}

.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-60vw, 0, 0) rotateX(223deg) rotateY(281deg);
}

.popup .popup__piece:nth-child(20) {
    height: 18.6666666667%;
    width: 12.6666666667%;
}

.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-52vw, -50vh, -495px) rotateX(218deg) rotateY(201deg);
    clip-path: polygon(0 0, 0 100%, 44% 100%);
}

.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
    transform: translate3d(32vw, 10vh, -821px) rotateX(275deg) rotateY(241deg);
    clip-path: polygon(0 0, 44% 100%, 100% 0);
}

.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-32vw, 52vh, 262px) rotateX(340deg) rotateY(226deg);
    clip-path: polygon(100% 0, 100% 100%, 44% 100%);
}

.popup.s--closed .popup__piece:nth-child(20) {
    transform: translate3d(0, 120vh, 0);
}

.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-65vw, 0, 0) rotateX(251deg) rotateY(267deg);
}

.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
    transform: translate3d(41vw, 0, 0) rotateX(283deg) rotateY(398deg);
}

.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
    transform: translate3d(68vw, 0, 0) rotateX(261deg) rotateY(235deg);
}

.popup .popup__piece:nth-child(21) {
    height: 18.6666666667%;
    width: 14.6666666667%;
}

.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-28vw, 4vh, -607px) rotateX(298deg) rotateY(203deg);
    clip-path: polygon(0 0, 0 100%, 54% 100%);
}

.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-48vw, -58vh, -441px) rotateX(151deg) rotateY(442deg);
    clip-path: polygon(0 0, 54% 100%, 100% 0);
}

.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-38vw, 40vh, 461px) rotateX(454deg) rotateY(331deg);
    clip-path: polygon(100% 0, 100% 100%, 54% 100%);
}

.popup.s--closed .popup__piece:nth-child(21) {
    transform: translate3d(0, 119vh, 0);
}

.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
    transform: translate3d(44vw, 0, 0) rotateX(315deg) rotateY(307deg);
}

.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-14vw, 0, 0) rotateX(451deg) rotateY(208deg);
}

.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-60vw, 0, 0) rotateX(389deg) rotateY(436deg);
}

.popup .popup__piece:nth-child(22) {
    height: 18.6666666667%;
    width: 15.6666666667%;
}

.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
    transform: translate3d(18vw, -5vh, -330px) rotateX(356deg) rotateY(266deg);
    clip-path: polygon(0 0, 0 100%, 57% 100%);
}

.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
    transform: translate3d(24vw, -53vh, 861px) rotateX(431deg) rotateY(419deg);
    clip-path: polygon(0 0, 57% 100%, 100% 0);
}

.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
    transform: translate3d(15vw, -14vh, -855px) rotateX(417deg) rotateY(448deg);
    clip-path: polygon(100% 0, 100% 100%, 57% 100%);
}

.popup.s--closed .popup__piece:nth-child(22) {
    transform: translate3d(0, 133vh, 0);
}

.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
    transform: translate3d(30vw, 0, 0) rotateX(475deg) rotateY(423deg);
}

.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-18vw, 0, 0) rotateX(448deg) rotateY(258deg);
}

.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-74vw, 0, 0) rotateX(248deg) rotateY(300deg);
}

.popup .popup__piece:nth-child(23) {
    height: 18.6666666667%;
    width: 29.6666666667%;
}

.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
    transform: translate3d(54vw, 23vh, 860px) rotateX(400deg) rotateY(318deg);
    clip-path: polygon(0 0, 0 100%, 37% 100%);
}

.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
    transform: translate3d(33vw, 60vh, -647px) rotateX(327deg) rotateY(344deg);
    clip-path: polygon(0 0, 37% 100%, 100% 0);
}

.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-28vw, 59vh, -617px) rotateX(127deg) rotateY(459deg);
    clip-path: polygon(100% 0, 100% 100%, 37% 100%);
}

.popup.s--closed .popup__piece:nth-child(23) {
    transform: translate3d(0, 146vh, 0);
}

.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
    transform: translate3d(24vw, 0, 0) rotateX(191deg) rotateY(431deg);
}

.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
    transform: translate3d(55vw, 0, 0) rotateX(344deg) rotateY(201deg);
}

.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
    transform: translate3d(75vw, 0, 0) rotateX(421deg) rotateY(192deg);
}

.popup .popup__piece:nth-child(24) {
    height: 18.6666666667%;
    width: 12.6666666667%;
}

.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-19vw, 42vh, -717px) rotateX(236deg) rotateY(264deg);
    clip-path: polygon(0 0, 0 100%, 64% 100%);
}

.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
    transform: translate3d(33vw, -41vh, 550px) rotateX(468deg) rotateY(418deg);
    clip-path: polygon(0 0, 64% 100%, 100% 0);
}

.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-56vw, 21vh, 641px) rotateX(343deg) rotateY(362deg);
    clip-path: polygon(100% 0, 100% 100%, 64% 100%);
}

.popup.s--closed .popup__piece:nth-child(24) {
    transform: translate3d(0, 144vh, 0);
}

.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-68vw, 0, 0) rotateX(315deg) rotateY(271deg);
}

.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
    transform: translate3d(66vw, 0, 0) rotateX(402deg) rotateY(453deg);
}

.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-70vw, 0, 0) rotateX(437deg) rotateY(270deg);
}

.popup .popup__piece:nth-child(25) {
    height: 17.6666666667%;
    width: 18.6666666667%;
}

.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
    transform: translate3d(15vw, -20vh, -681px) rotateX(249deg) rotateY(410deg);
    clip-path: polygon(0 0, 0 100%, 32% 100%);
}

.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-28vw, 49vh, 412px) rotateX(357deg) rotateY(308deg);
    clip-path: polygon(0 0, 32% 100%, 100% 0);
}

.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
    transform: translate3d(10vw, -38vh, 789px) rotateX(222deg) rotateY(427deg);
    clip-path: polygon(100% 0, 100% 100%, 32% 100%);
}

.popup.s--closed .popup__piece:nth-child(25) {
    transform: translate3d(0, 105vh, 0);
}

.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
    transform: translate3d(34vw, 0, 0) rotateX(440deg) rotateY(446deg);
}

.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-47vw, 0, 0) rotateX(218deg) rotateY(320deg);
}

.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
    transform: translate3d(11vw, 0, 0) rotateX(250deg) rotateY(348deg);
}

.popup .popup__piece:nth-child(26) {
    height: 17.6666666667%;
    width: 21.6666666667%;
}

.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
    transform: translate3d(35vw, -53vh, 734px) rotateX(167deg) rotateY(192deg);
    clip-path: polygon(0 0, 0 100%, 70% 100%);
}

.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-10vw, -19vh, 457px) rotateX(440deg) rotateY(279deg);
    clip-path: polygon(0 0, 70% 100%, 100% 0);
}

.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
    transform: translate3d(17vw, -49vh, -95px) rotateX(433deg) rotateY(355deg);
    clip-path: polygon(100% 0, 100% 100%, 70% 100%);
}

.popup.s--closed .popup__piece:nth-child(26) {
    transform: translate3d(0, 132vh, 0);
}

.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-1vw, 0, 0) rotateX(142deg) rotateY(252deg);
}

.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
    transform: translate3d(22vw, 0, 0) rotateX(453deg) rotateY(272deg);
}

.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-24vw, 0, 0) rotateX(329deg) rotateY(349deg);
}

.popup .popup__piece:nth-child(27) {
    height: 17.6666666667%;
    width: 15.6666666667%;
}

.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
    transform: translate3d(3vw, 58vh, 500px) rotateX(123deg) rotateY(324deg);
    clip-path: polygon(0 0, 0 100%, 55% 100%);
}

.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
    transform: translate3d(26vw, -58vh, 570px) rotateX(399deg) rotateY(151deg);
    clip-path: polygon(0 0, 55% 100%, 100% 0);
}

.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-38vw, 25vh, 473px) rotateX(361deg) rotateY(390deg);
    clip-path: polygon(100% 0, 100% 100%, 55% 100%);
}

.popup.s--closed .popup__piece:nth-child(27) {
    transform: translate3d(0, 140vh, 0);
}

.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
    transform: translate3d(52vw, 0, 0) rotateX(159deg) rotateY(409deg);
}

.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-24vw, 0, 0) rotateX(246deg) rotateY(149deg);
}

.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
    transform: translate3d(22vw, 0, 0) rotateX(200deg) rotateY(258deg);
}

.popup .popup__piece:nth-child(28) {
    height: 17.6666666667%;
    width: 19.6666666667%;
}

.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-17vw, 8vh, -409px) rotateX(269deg) rotateY(438deg);
    clip-path: polygon(0 0, 0 100%, 38% 100%);
}

.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
    transform: translate3d(49vw, -28vh, 708px) rotateX(217deg) rotateY(339deg);
    clip-path: polygon(0 0, 38% 100%, 100% 0);
}

.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-53vw, -40vh, 67px) rotateX(268deg) rotateY(396deg);
    clip-path: polygon(100% 0, 100% 100%, 38% 100%);
}

.popup.s--closed .popup__piece:nth-child(28) {
    transform: translate3d(0, 147vh, 0);
}

.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
    transform: translate3d(59vw, 0, 0) rotateX(184deg) rotateY(386deg);
}

.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
    transform: translate3d(70vw, 0, 0) rotateX(156deg) rotateY(434deg);
}

.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-21vw, 0, 0) rotateX(354deg) rotateY(410deg);
}

.popup .popup__piece:nth-child(29) {
    height: 17.6666666667%;
    width: 4.6666666667%;
}

.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-6vw, -56vh, -672px) rotateX(354deg) rotateY(368deg);
    clip-path: polygon(0 0, 0 100%, 33% 100%);
}

.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-23vw, 40vh, -52px) rotateX(269deg) rotateY(310deg);
    clip-path: polygon(0 0, 33% 100%, 100% 0);
}

.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
    transform: translate3d(5vw, 52vh, -771px) rotateX(267deg) rotateY(255deg);
    clip-path: polygon(100% 0, 100% 100%, 33% 100%);
}

.popup.s--closed .popup__piece:nth-child(29) {
    transform: translate3d(0, 105vh, 0);
}

.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
    transform: translate3d(20vw, 0, 0) rotateX(419deg) rotateY(378deg);
}

.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-19vw, 0, 0) rotateX(358deg) rotateY(236deg);
}

.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
    transform: translate3d(27vw, 0, 0) rotateX(462deg) rotateY(316deg);
}

.popup .popup__piece:nth-child(30) {
    height: 17.6666666667%;
    width: 19.6666666667%;
}

.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
    transform: translate3d(39vw, 46vh, -710px) rotateX(125deg) rotateY(349deg);
    clip-path: polygon(0 0, 0 100%, 61% 100%);
}

.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-39vw, -48vh, -758px) rotateX(335deg) rotateY(299deg);
    clip-path: polygon(0 0, 61% 100%, 100% 0);
}

.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
    transform: translate3d(21vw, -29vh, 469px) rotateX(280deg) rotateY(284deg);
    clip-path: polygon(100% 0, 100% 100%, 61% 100%);
}

.popup.s--closed .popup__piece:nth-child(30) {
    transform: translate3d(0, 124vh, 0);
}

.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
    transform: translate3d(10vw, 0, 0) rotateX(471deg) rotateY(330deg);
}

.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-72vw, 0, 0) rotateX(430deg) rotateY(288deg);
}

.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
    transform: translate3d(26vw, 0, 0) rotateX(419deg) rotateY(466deg);
}

.popup .popup__piece:nth-child(31) {
    height: 24.6666666667%;
    width: 18.6666666667%;
}

.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-17vw, -33vh, -433px) rotateX(260deg) rotateY(381deg);
    clip-path: polygon(0 0, 0 100%, 31% 100%);
}

.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
    transform: translate3d(42vw, -37vh, -481px) rotateX(205deg) rotateY(309deg);
    clip-path: polygon(0 0, 31% 100%, 100% 0);
}

.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
    transform: translate3d(1vw, -31vh, 829px) rotateX(369deg) rotateY(292deg);
    clip-path: polygon(100% 0, 100% 100%, 31% 100%);
}

.popup.s--closed .popup__piece:nth-child(31) {
    transform: translate3d(0, 123vh, 0);
}

.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-69vw, 0, 0) rotateX(363deg) rotateY(351deg);
}

.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-66vw, 0, 0) rotateX(194deg) rotateY(248deg);
}

.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-78vw, 0, 0) rotateX(188deg) rotateY(338deg);
}

.popup .popup__piece:nth-child(32) {
    height: 24.6666666667%;
    width: 13.6666666667%;
}

.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-15vw, 54vh, -319px) rotateX(346deg) rotateY(378deg);
    clip-path: polygon(0 0, 0 100%, 56% 100%);
}

.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
    transform: translate3d(27vw, -28vh, -884px) rotateX(185deg) rotateY(232deg);
    clip-path: polygon(0 0, 56% 100%, 100% 0);
}

.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-4vw, -23vh, -351px) rotateX(434deg) rotateY(223deg);
    clip-path: polygon(100% 0, 100% 100%, 56% 100%);
}

.popup.s--closed .popup__piece:nth-child(32) {
    transform: translate3d(0, 130vh, 0);
}

.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-47vw, 0, 0) rotateX(385deg) rotateY(155deg);
}

.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-40vw, 0, 0) rotateX(134deg) rotateY(202deg);
}

.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
    transform: translate3d(9vw, 0, 0) rotateX(225deg) rotateY(297deg);
}

.popup .popup__piece:nth-child(33) {
    height: 24.6666666667%;
    width: 19.6666666667%;
}

.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-9vw, 41vh, 774px) rotateX(468deg) rotateY(144deg);
    clip-path: polygon(0 0, 0 100%, 54% 100%);
}

.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
    transform: translate3d(8vw, -12vh, -16px) rotateX(340deg) rotateY(283deg);
    clip-path: polygon(0 0, 54% 100%, 100% 0);
}

.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
    transform: translate3d(36vw, -12vh, -749px) rotateX(142deg) rotateY(371deg);
    clip-path: polygon(100% 0, 100% 100%, 54% 100%);
}

.popup.s--closed .popup__piece:nth-child(33) {
    transform: translate3d(0, 102vh, 0);
}

.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-48vw, 0, 0) rotateX(430deg) rotateY(267deg);
}

.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-13vw, 0, 0) rotateX(218deg) rotateY(253deg);
}

.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
    transform: translate3d(66vw, 0, 0) rotateX(217deg) rotateY(378deg);
}

.popup .popup__piece:nth-child(34) {
    height: 24.6666666667%;
    width: 15.6666666667%;
}

.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-38vw, -59vh, 329px) rotateX(365deg) rotateY(312deg);
    clip-path: polygon(0 0, 0 100%, 57% 100%);
}

.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-40vw, -59vh, -665px) rotateX(191deg) rotateY(276deg);
    clip-path: polygon(0 0, 57% 100%, 100% 0);
}

.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
    transform: translate3d(57vw, 49vh, 597px) rotateX(477deg) rotateY(231deg);
    clip-path: polygon(100% 0, 100% 100%, 57% 100%);
}

.popup.s--closed .popup__piece:nth-child(34) {
    transform: translate3d(0, 149vh, 0);
}

.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
    transform: translate3d(1vw, 0, 0) rotateX(444deg) rotateY(129deg);
}

.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
    transform: translate3d(28vw, 0, 0) rotateX(172deg) rotateY(131deg);
}

.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-13vw, 0, 0) rotateX(331deg) rotateY(343deg);
}

.popup .popup__piece:nth-child(35) {
    height: 24.6666666667%;
    width: 18.6666666667%;
}

.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
    transform: translate3d(57vw, -35vh, -488px) rotateX(297deg) rotateY(153deg);
    clip-path: polygon(0 0, 0 100%, 69% 100%);
}

.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-21vw, 17vh, 75px) rotateX(403deg) rotateY(396deg);
    clip-path: polygon(0 0, 69% 100%, 100% 0);
}

.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-23vw, 49vh, -185px) rotateX(294deg) rotateY(205deg);
    clip-path: polygon(100% 0, 100% 100%, 69% 100%);
}

.popup.s--closed .popup__piece:nth-child(35) {
    transform: translate3d(0, 124vh, 0);
}

.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-12vw, 0, 0) rotateX(376deg) rotateY(317deg);
}

.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
    transform: translate3d(-69vw, 0, 0) rotateX(273deg) rotateY(135deg);
}

.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
    transform: translate3d(3vw, 0, 0) rotateX(424deg) rotateY(164deg);
}

.popup .popup__piece:nth-child(36) {
    height: 24.6666666667%;
    width: 13.6666666667%;
}

.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-50vw, 2vh, -497px) rotateX(424deg) rotateY(434deg);
    clip-path: polygon(0 0, 0 100%, 46% 100%);
}

.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
    transform: translate3d(53vw, -15vh, 329px) rotateX(213deg) rotateY(412deg);
    clip-path: polygon(0 0, 46% 100%, 100% 0);
}

.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
    transform: translate3d(-9vw, 52vh, 872px) rotateX(427deg) rotateY(461deg);
    clip-path: polygon(100% 0, 100% 100%, 46% 100%);
}

.popup.s--closed .popup__piece:nth-child(36) {
    transform: translate3d(0, 124vh, 0);
}

.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
    transform: translate3d(-59vw, 0, 0) rotateX(479deg) rotateY(476deg);
}

.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
    transform: translate3d(49vw, 0, 0) rotateX(378deg) rotateY(441deg);
}

.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
    transform: translate3d(56vw, 0, 0) rotateX(477deg) rotateY(197deg);
}

.popup__pieces {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popup__piece {
    float: left;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0s 0s;
}

.popup.s--closed .popup__piece {
    transition: transform 0.7s 0.1s cubic-bezier(0.69, -0.47, 0.97, 1.04);
}

.popup__piece:after {
    content: "";
    display: table;
    clear: both;
}

.popup__piece-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.28s 0.55s ease-in, transform 0.7s 0.1s ease-out;
}

.popup.s--active .popup__piece-inner {
    transition: opacity 0.35s, transform 0.7s ease-in-out;
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) !important;
    opacity: 1;
}

.popup__content {
    position: relative;
    min-height: 500px;
    padding: 30px;
    background: #000;
    color: #fff;
    transition: opacity 0.2s;
    opacity: 0;
}

.popup.s--active .popup__content {
    transition-delay: 0.6s;
    opacity: 1;
}

.popup__close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.popup__close:before, .popup__close:after {
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.popup__close:before {
    transform: rotate(45deg);
}

.popup__close:after {
    transform: rotate(-45deg);
}

.popup__heading {
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.popup__text {
    font-size: 18px;
    line-height: 1.5;
}

.popup-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 50px;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    margin-left: -100px;
    margin-top: -25px;
    border: 2px solid #000;
    transition: all 0.3s;
    cursor: pointer;
}

.popup-btn:hover {
    background-color: #000;
    color: #fff;
    letter-spacing: 2px;
}

.popup p.lead {

    color: green;
}
